$primeryColor : #bdb2ff;
$primeryColorDarker : #9181e9;
$secoundColor : #ffadad;
$whiteColor: #fff;
$blackColor: #202020;
$backGroudColor : #fffffc;

$redSecurity : #ee6055;
$yellowSecurity : #FAAB78;
$greenLightSecurity : #9BB67C;
$greenSecurity : #5AA469;


@import "./Webfonts/fontiran.css";

* {
    padding: 0;
    margin: 0;
    direction: rtl;
    line-height: normal;
    box-sizing: border-box;
    background: transparent;
    outline: 0;
    list-style-type: none;
    border: 0 transparent;
    font-family: IRANSansX;

    -moz-font-feature-settings: "ss03";
    -webkit-font-feature-settings: "ss03";
    font-feature-settings: "ss03";

}


body,
#root {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: $backGroudColor;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
}

.Toastify__toast-body>div:last-child {
    font-size: 14px;

}

.Toastify__toast {
    border-radius: 10px;
    box-shadow: 0 1px 10px 0 rgba($color: $primeryColorDarker, $alpha: .3), 0 2px 15px 0 rgba($color: $primeryColorDarker, $alpha: .05);
}

.box {
    width: 33%;
    height: auto;
    border-radius: 18px;
    background-color: $backGroudColor;
    box-shadow: 0 15px 50px 0px rgba($color: $primeryColorDarker, $alpha: .3);
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-end;


    >p {
        width: 100%;
        text-align: center;
        font-size: 24px;
        font-weight: 800;
        color: $primeryColorDarker;

        &:nth-child(2) {
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            color: $primeryColorDarker;
            opacity: .7;
            margin-top: 1rem;
            margin-bottom: 2rem;
        }
    }

    .textInput {
        width: 100%;
        background-color: $backGroudColor;
        border: 2px solid rgba($color: $primeryColorDarker, $alpha: .15);
        padding: 1rem 2rem;
        border-radius: 12px;
        margin: 0.8rem 0;
        font-size: 14px;
        font-weight: 600;
        text-align: right;

        &::placeholder {
            color: rgba($color: $primeryColorDarker, $alpha: .7);
        }

    }

    .securityBodyMain {
        width: 100%;
        padding: 0 .8rem;

        .securityBody {
            width: 100%;
            position: relative;
            margin-bottom: 1rem;
            visibility: hidden;

            >div {
                width: 100%;
                height: .25rem;
                border-radius: 1000px;
                background-color: #f0efeb;
                position: absolute;

                &:nth-child(2) {
                    width: 0%;
                    transition: .3s ease-in-out all;
                }
            }
        }
    }



    .hintSecurity {
        text-align: right;
        font-size: 12px;
        padding: 0 .5rem;
        font-weight: 700;
        color: $blackColor;
        visibility: hidden;
        opacity: 1;
    }


    .buttonInputNormal {
        width: auto;
        color: $whiteColor;
        background-color: $primeryColorDarker;
        font-size: 14px;
        font-weight: 800;
        padding: 1rem 4rem;
        border-radius: 12px;
        margin-top: 1.8rem;
        cursor: pointer;
        transition: .3 ease-in-out;

        &:hover {
            background-color: #8472e6;
        }
    }

}

.createBy {
    text-align: center;
    color: $blackColor;
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    margin-bottom: 3rem;
}