@import "./mixin";
@import "./Webfonts/fontiran.css";

* {
    padding: 0;
    margin: 0;
    direction: rtl;
    line-height: normal;
    box-sizing: border-box;
    background: transparent;
    outline: 0;
    list-style-type: none;
    border: 0 transparent;
    font-family: IRANSansX;
    -moz-font-feature-settings: "ss03";
    -webkit-font-feature-settings: "ss03";
    font-feature-settings: "ss03";

}

body,
#root {
    width: 100%;
    height: 100%;
    position: absolute;
    @include displayFlex(flex, row, nowrap, center, center, center);
    background-color: $backGroudColor;
    column-gap: 1.5rem;
}


.Toastify {
    position: absolute;
}

.Toastify__toast-body>div:last-child {
    font-size: 14px;

}

.Toastify__toast {
    @include borderRadiusBox("");
    box-shadow: 0 1px 10px 0 rgba($color: $primeryColorDarker, $alpha: .3), 0 2px 15px 0 rgba($color: $primeryColorDarker, $alpha: .05);
}

.box {
    width: 33%;
    height: auto;
    padding: 2.5rem;
    @include displayFlex(flex, column, nowrap, center, center, flex-end);
    background-color: $backGroudColor;
    @include borderRadiusBox(18px);
    box-shadow: 0 15px 50px 0px rgba($color: $primeryColorDarker, $alpha: .3);

    >p {
        width: 100%;
        text-align: center;
        @include fontSizeWeightColor(24px, 800, $primeryColorDarker);

        &:nth-child(2) {
            @include fontSizeWeightColor(14px, 500, $primeryColorDarker);
            opacity: .7;
            margin-top: 1rem;
            margin-bottom: 2rem;
        }
    }

    .boxInputNumber {

        width: 100%;
        @include displayFlex(flex, row-reverse, nowrap, space-between, center, center);

        .textInput {
            @include inputText;
            width: 17%;
            padding: 1rem 0;
        }
    }


    .textInput {
        @include inputText;
    }

    .securityBodyMain {
        width: 100%;
        padding: 0 .8rem;

        .securityBody {
            width: 100%;
            position: relative;
            margin-bottom: 1rem;
            visibility: hidden;

            >div {
                width: 100%;
                height: .25rem;
                @include borderRadiusBox(1000px);
                background-color: #f0efeb;
                position: absolute;

                &:nth-child(2) {
                    width: 0%;
                    transition: .3s ease-in-out all;
                }
            }
        }
    }

    .hintSecurity {
        @include fontSizeWeightColor(12px, 700, $blackColor);
        text-align: right;
        padding: 0 .5rem;
        visibility: hidden;
        opacity: 1;
    }

    .buttonInputNormal {
        @include btnStyleNormal;
    }

    .buttonInputNonBorder {
        @include btnStyleNonBorder;
    }


    .boxTimer {
        width: 100%;
        margin-top: 2.5rem;
        @include displayFlex(flex, row, nowrap, space-between, center, center);

        .buttonInputNormal,.buttonInputNonBorder {
            margin-top: 0;
        }

    }


}

.createBy {
    @include fontSizeWeightColor(12px, 700, $blackColor);
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 3rem;


}