$primeryColor : #bdb2ff;
$primeryColorDarker : #9181e9;
$secoundColor : #ffadad;
$whiteColor: #fff;
$blackColor: #202020;
$backGroudColor : #fffffc;

$redSecurity : #ee6055;
$yellowSecurity : #FAAB78;
$greenLightSecurity : #9BB67C;
$greenSecurity : #5AA469;


.boxInputNumber {

    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: center;

    .textInput {
        width: 17%;
        font-size: 18px;
        padding: 1rem 0;
        font-weight: 900;
        text-align: center;
        color: $blackColor;

        &::placeholder {
            color: rgba($color: $primeryColorDarker, $alpha: .7);
        }

    }

    
}


.boxTimer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-top: 2.5rem;

    .buttonInputNormal {
        margin-top: 0;
    }

    .timer {
        font-size: 14px;
        font-weight: 900;
        text-align: right;
        margin-right: .5rem;
        color: $primeryColorDarker ;
    }

}










